.counter {
  font-size: 6em;
  text-align: center;
}

.expl {
  font-size: 2em;
}

.primary {
  color: white;
  background-color: #19bbbd;
}

.primary-rev {
  background-color: white;
  color: #19bbbd;
}

.secondary {
  color: white;
  background-color: #ec117e;
}

.secondary-rev {
  background-color: white;
  color: #ec117e;
}

ul.wordcloud { list-style-type: none; }
ul.wordcloud li { display: inline-block; }

.btn-category {
  margin-right: 10px;
  margin-bottom: 10px;
}

.wob-id {
  color: #cccccc;
}

.count {
  color: #cccccc;
}

.vote-detail {
  display: inline-block;
}

.vote-detail img {
  width: 30px;
  height: 30px;
}

.dashes {
  width: 100%;
  height: 20px;
  background: url(/static/images/assets/dash.svg) repeat-x;
}

.dot {
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

.dot-left {
  margin-left: -5px;
  float: left;
}

.dot-right {
  margin-left: 5px;
  float: right;
}

.delay-lead {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.delay-lead .count {
  font-size: 4em;
}

.graph {
  width: 300px;
}

#tagcloud {
  width: 100%;
}

#tagcloud a {
  margin-left: 20px;
  margin-bottom: 10px;
}

.email-signup img {
  width: 30px;
  height: 30px;
}

#search {
  color: #c21889;
  line-height: 30px;
}

#search .form-group {
  width: 100%;
  border-bottom: 1px solid #c21889;
}

#search input {
  border: 0;
  box-shadow: none;
  width: 90%;
}
