//@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */

@use "sass:map";

// @import "~some-node-module";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
/* set the overriding variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);
@import 'bootstrap';
@import '~bootstrap-table/dist/bootstrap-table.min.css';
@import '~bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css';
@import "~@openfonts/lexend-deca_latin/index.css";
@import "~@openfonts/dosis_latin/index.css";
@import "~ekko-lightbox/dist/ekko-lightbox.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/forms";
// @import "components/grid";
// @import "layouts/footer";
// @import "layouts/header";
// @import "layouts/index";
// @import "layouts/payment-table";

// Typography
$font-default: "Open Sans", sans-serif;
$font-nav: "Open Sans script=all rev=1", sans-serif;
$color-default: #0603A6;
$color-bg-default:#EBF3F7;
$color-bg-alt: white;

body {
  font-family: $font-default;
  font-size: 13px;
  line-height: 21px;
  color: $color-default;
  background: $color-bg-default;
  word-wrap: break-word;
  hyphens: manual;
}

a {
  color: $color-default;
}

header {
  background: $color-bg-alt;
}
footer {
    background: $color-bg-alt;
    margin-bottom: 5em;

}

#footer-actions {
  padding-top: 2em;
  margin-bottom: 2em;
  background: $color-bg-default;
  width: 100%;
}

#footer-actions a {
  line-height: 18px;
}

#footer-actions .list-inline-item:first-child { margin-right: 4em !important; }
#footer-actions .list-inline-item:last-child { margin-left: 4em !important; }

#footer-logos {
  padding: 2em;
}
#footer-logos ul {
  width: 100%;
}
#footer-logos img {
  max-height: 75px;
}
.fa-2x {
  vertical-align: middle;
}

nav.navbar .nav-link {
  font-family: $font-nav;
  font-size: 28px;
  font-weight: 800;
  color: #9EC3DA !important;
}


/* media queris */
@media (max-width: 440px) {
  .nav-main-link {
    display: none !important;
  }
}

@media (min-width: 440px) and (max-width: 480px) {
  .navbar-brand {
    width: 100%;
    text-align: center !important;
  }
  .navbar-toggler, .nav-main-link {
    margin-top: -50px;
  }
}
