//@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */

@use "sass:map";

// @import "~some-node-module";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
/* set the overriding variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);
$breadcrumb-divider: quote(">");
$nav-pills-link-active-color: #000055;
$nav-pills-link-active-bg: #FFFFFF;

@import 'bootstrap';
@import '~bootstrap-table/dist/bootstrap-table.min.css';
@import '~bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css';
@import "~@openfonts/lexend-deca_latin/index.css";
@import "~@openfonts/dosis_latin/index.css";
@import "~ekko-lightbox/dist/ekko-lightbox.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap');

/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/forms";
// @import "components/grid";
// @import "layouts/footer";
// @import "layouts/header";
// @import "layouts/index";
// @import "layouts/payment-table";

// Typography
$font-default: "Open Sans", sans-serif;
$font-nav: 'Open Sans', sans-serif;
$color-default: #0603A6;
$color-bg-default:#EBF3F7;
$color-bg-alt: white;

body {
  font-family: $font-default;
  font-size: 13px;
  line-height: 21px;
  color: $color-default;
  background: $color-bg-default;
  word-wrap: break-word;
  hyphens: manual;
}

a {
  color: $color-default;
}

header {
  background: $color-bg-alt;
}
footer {
    background: $color-bg-alt;
    margin-bottom: 5em;

}

.alert-primary {
    color: #000056;
    background-color: #fff;
	font-weight: 600;
	font-size: 16px;
}

.alert {
    margin: 15px;
    border: none;
    border-radius: 0;
}

/*---mobile menu - svg attached ---*/
.navbar-light .navbar-toggler-icon {
    background-image: url(/static/images/icon-feather-menu.svg);
}
/*---mobile menu - menu ---*/
.navbar-light .navbar-toggler {
    border:none;
    text-transform: uppercase;
    font-weight: 800;
    color: #000056;
}

/*---mobile menu - about ---*/
nav.navbar .nav-link {
    border:none;
    text-transform: uppercase;
    font-weight: 800;
    color: #0603A6;
}

nav.navbar a.nav-link-selection {
  font-size: 13px !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  color: #000055 !important;
  text-transform: capitalize !important;
  border-radius: 1.0rem !important;
  border: 1px solid #000055 !important;
}

#footer-actions {
  padding-top: 2em;
  margin-bottom: 2em;
  background: $color-bg-default;
  width: 100%;
}

#footer-actions a {
  line-height: 18px;
}

#footer-actions .list-inline-item:first-child { margin-right: 4em !important; }
#footer-actions .list-inline-item:last-child { margin-left: 4em !important; }

#footer-logos {
  padding: 2em;
}
#footer-logos ul {
  width: 100%;
}
#footer-logos img {
  max-width: 100%;
}

.fa-2x {
  vertical-align: middle;
}

nav.navbar .nav-item {
  background: white;
}

nav.navbar .nav-link {
  font-family: $font-nav;
  font-size: 28px;
  font-weight: 800;
  color: #9EC3DA !important;
}

nav.navbar .nav-link:hover {
    color: #0603a6!important;
}

.jumbotron {
  background: url(/static/images/local-news-bg-2x.png) no-repeat 0px -280px;
  border-radius: none;
}

.jumbotron img {
  margin-bottom: 2em;
  width: 100%;
}

.jumbotron img.icon {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0;
  float: left;
}

.lead-text {
  color: white;
  font-family: $font-nav;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
  float: left;
}

#discover {
margin-bottom:50px;
}

.lead-button {
  float: none;
  clear: both;
  margin-left: 3rem;
  margin-top: 1rem;
}

.lead-text span {
  color: #ECF248;
}

.btn {
  font-family: $font-nav;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.btn-lg {
    font-size: 32px;
    line-height: 43px;
}

.btn-group-sm>.btn, .btn-sm {
    border-radius: 0;
}

.btn-group-sm>.btn:hover, .btn-sm:hover {
	text-decoration: none;
    background: #0603a6;
	color: #fff;
}

.btn-primary {
  color: white;
  background-color: #0603A6;
  border-color: #0603A6;
   border-radius: 15px 15px 0 0;
}

.btn-group-lg>.btn, .btn-lg {
    border-radius: 15px;
	text-transform: capitalize;
}
.btn-group-lg>.btn:hover, .btn-lg:hover {
    color:#9EC3DA;
}

h1 {
  font-family: $font-nav;
  font-size: 26px;
  line-height:28px;
  font-weight: 300;
  color:#0603A6;
}

h2 {
  font-family: $font-nav;
  font-size: 26px;
  line-height:32px;
  font-weight: 800;
  padding: 0.5em;
  margin: 0;
}

h3 {
  font-family: $font-default;
  font-size: 14px;
  line-height:19px;
  font-weight: 800;
  padding: 0.5em;
  margin: 0;
}

.info-box {
  padding: 1em;
  color: #000055;
}

.info-box a {
    color: #E1383A;
}

.info-box-contents {
  background: url(/static/images/bar.svg) no-repeat 17px -4px / auto 20px white;
}

.info-box-bg {
  background-image: url(/static/images/bg-default.png);
}

.info-box-bg-alt {
  background-image: url(/static/images/bg-alt.png);
}

.info-box-alt-no-bg {
  background: #9EC3DA;
}
.info-box-bg-alt-2 {
  background-image: url(/static/images/bg-alt-2.png);
}


.info-box ol {
  padding: 0.3em;
  list-style: none;
  font-size: 26px;
  line-height: 32px;
  font-family: $font-nav;
  font-weight: 800;
}

.info-box ol > li {
  background: white;
  padding: none;
  width: auto;
  margin: 0.7em;
  border-radius: 20px;
}

.info-box ol > li div.exp {
    width: 80%;
    padding: 13px;
    font-size: 13px;
    line-height: 18px;
    float: right;
}

.info-box ol > li div.counter {
    font-size: 26px;
    line-height: 32px;
    float: left;
    background-color: #FFF;
    padding: 15px 22px;
    border-radius: 15px;
	box-shadow: 0px 3px 6px #000029;
}

.nav-filtering {
  background: url(/static/images/bg-filter.png) repeat-x;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding: 1em;

  .btn {
    padding: 0;
  }

  .nav-item {
    background: transparent;
  }
}

.nav-filtering a.nav-link {
  color: white;
}

.search-box {
  background: url(/static/images/bar.svg) repeat-x bottom center / auto 20px white;
    padding: 20px;
}

.search-box div.search-result h2 {
  background: #EBF3F7;
}

.search-result h2 {
  font-size: 26px;
  line-height: 32px;
  background: white;
  margin-top: 1em;
  a {
    color: #000055;
  }
}

.search-result h2 a {
    font-family: 'Open Sans',sans-serif;
    color: #000056;
}

.search-result h2 a:hover {
    color: #0603A6;
	text-decoration: none;
}

.byline {
  background: url(/static/images/bar.svg) no-repeat 17px -4px / auto 20px #9EC3DA;

  ul {
    margin-bottom: 0;
  }
}

.byline-container {
  padding: 1em;
}

.tags-container {
}

.actions-container {

}
.tags {
padding-top: 0.4em;
}

.btn-sm {
  font-size: 8px;
  line-height: 11px;
  font-weight: 600;
  color: $color-default;
  background: #EBF3F7;
  padding: 0.5em;
  margin: 0.5em 0;
}

 .btn-big-icon {
   font-size: 8px;
   line-height: 11px;
   font-weight: 300;
   color: $color-default;
   background: white;
   border-radius: 10px;
   padding: 0.5em;
   margin: 0.5em 0;

   img {
     width: 40px;
     height: 40px;
   }
 }

.actions {
}

.read-more-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: white;
}

.read-more-link:hover {
	color: #0603A6;
	text-decoration: none;
}

.form-search {
  color: white;
  font-size: 26px;
  line-height: 28px;
  background: #9EC3DA;
  padding: 0.5em;
  input {
    color: white !important;
    background: inherit !important;
    font-size: 26px;
    line-height: 28px;
    border: 0;
    border-bottom: 1px solid white;
  }

  input::placeholder {
    color: white;
  }

  .btn {
    color: white !important;
    font-size: 26px;
    line-height: 28px;
    border: 0;
  }
}

.language-selection {
  padding: 1em;

  h3 {
    padding-top: 2em;
  }
  .nav-item {
    border: 1px solid #0603A6 !important;
    border-radius: 5px;
  }
}

.nav-link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  color: #9EC3DA;
}

.nav-item {
  background-color: #EBF3F7;
}

/*.nav-pills .nav-link.active {
    background-color: #FFFFFF;
}*/

#form-search-fp .form-search {
  color: $color-default;
  background: white;

  input {
    color: $color-default !important;
    border-bottom: 1px solid $color-default;
  }

  input::placeholder {
    color: $color-default !important;
  }

  .btn {
    color: $color-default !important;
  }
}

.breadcrumb {
  .breadcrumb-item {
    color: #000055 !important;
    a {
      color: #000055 !important;
    }
    .active {
      color: #000055 !important;
    }
  }
  background: #EBF3F7;
  padding: 0.5em;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 0;
  margin-bottom: 0;
}

.content {
  background: white;
  font-family: $font-default;
  font-size: 20px;
  line-height:28px;
  font-weight: 300;
  padding: 0.5em;
  margin: 0;
}

.btn-verification {
  display: none;
}

article .btn-verification {
  display: block !important;
}

article .read-more-link {
  display: none;
}

article .byline {
/*  background: url(/static/images/bg-default.png) repeat-x #ECF248;*/
  background: url(/static/images/bar.svg) no-repeat top left / auto 20px #000055;
  color: white;
}

article .btn {
  background: white;
}
article .actions-container {
/*  background: url(/static/images/bg-alt-2.png) repeat-x #0603A6;*/
background: #0603A6;
}

article .lead {
  font-family: $font-nav;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.byline-alt {
  font-family: $font-default;
  font-size: 10px;
  line-height: 14px;
  color: #E1383A;

  a {
    color: #E1383A;
  }

  span {
    font-style: italic;
  }
}

.btn-selectable {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 1em;
  padding: 10px;
  border: 1px solid #0603A6;
  background-color: white;
  border-radius: 5px;
}

.btn-selectable i {
  margin-right: 1rem;
}

.form-countries {
    font-size: 16px;
    line-height: 22px;
    .form-check-input {
      display: none;
    }
}

/* media queris */
/*
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1440px
*/
@media (max-width: 420px) {
  .info-box ol > li div.exp {
      width: 72%;
    }
  .lead-text {
    font-size: 20px;
    line-height: 24px;
  }

  #icon-feather {
    display: none;
  }

  #icon-city-1 {
    display: none;
  }

  #icon-city-2 {
    display: none;
  }

  #icon-city-3 {
    display: none;
  }

}
@media (min-width: 421px) and (max-width: 440px) {
  .nav-main-link {
    display: none !important;
  }

  .lead-text {
    font-size: 26px;
    line-height: 28px;
  }

  #icon-feather {
    display: none;
  }

  #icon-city-1 {
    display: none;
  }

  #icon-city-2 {
    display: none;
  }

  #icon-city-3 {
    display: none;
  }
}

@media (min-width: 440px) and (max-width: 480px) {
  .navbar-brand {
    width: 100%;
    text-align: center !important;
  }
  .navbar-toggler, .nav-main-link {
    margin-top: -50px;
  }

  #icon-feather {
    left: 250px;
    top: -15px;
  }

  #icon-city-1 {
    top: -30px !important;
    left: 330px !important;
  }

  #icon-city-2 {
    top: -10px;
    left: 280px;
  }

  #icon-city-3 {
    top: 90px;
    left: 250px;
  }

  .lead-text {
    font-size: 40px;
    line-height: 44px;
  }

  #footer-logos img {
    max-height: 50px;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  #icon-feather {
    left: 250px;
    top: -15px;
  }

  #icon-city-1 {
    top: 0;
    left: 330px;
  }

  #icon-city-2 {
    top: 10px;
    left: 215px;
  }

  #icon-city-3 {
    top: 20px;
    left: 50px;
  }

  #footer-logos img {
    max-height: 50px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #icon-feather {
    left: 245px;
    top: -35px;
  }

  #icon-city-1 {
    top: -50px;
    left: 330px;
  }

  #icon-city-2 {
    top: -20px;
    left: 280px;
  }

  #icon-city-3 {
    top: 40px;
    left: 100px;
  }

  #footer-logos img {
    max-height: 50px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {
  #icon-feather {
    left: 245px;
    top: -35px;
  }

  #icon-city-1 {
    top: 5px;
    left: 300px;
  }

  #icon-city-2 {
    top: 45px;
    left: 240px;
  }

  #icon-city-3 {
    top: 30px;
    left: 115px;
  }

  #footer-logos img {
    max-height: 70px;
  }

  .lead-text {
    font-size: 36px;
    line-height: 57px;
  }

  h1 {
    font-size: 22px;
    line-height: 26px;
  }

  h2 {
    font-size: 20px;
    line-height: 22px;
  }

  .info-box ol > li div.exp {
      font-size: 11px;
      line-height: 14px;
  }

  .info-box ol > li div.counter {
      font-size: 20px;
      line-height: 26px;
  }

  .info-box .btn-lg {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  #form-search-fp input {
    font-size: 12px;
    line-height: 14px;
    border-radius: 0;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  #icon-feather {
    left: 245px;
    top: -35px;
  }

  #icon-city-1 {
    top: 25px;
    left: 130px;
  }

  #icon-city-2 {
    top: 40px;
    left: 315px;
  }

  #icon-city-3 {
    top: 0px;
    left: 280px;
  }

  .lead-text {
    font-size: 32px;
    line-height: 50px;
  }

  #footer-logos img {
    max-height: 50px;
  }

  .info-box ol > li div.exp {
      font-size: 11px;
      line-height: 14px;
  }

  .info-box ol > li div.counter {
      font-size: 22px;
      line-height: 28px;
  }

  h2 {
    font-size: 22px;
  }
}

/* xl */
@media (min-width: 1201px) and (max-width: 1440px) {
  #icon-feather {
    left: 245px;
    top: -35px;
  }

  #icon-city-1 {
    top: 0px;
    left: 300px;
  }

  #icon-city-2 {
    top: 95px;
    left: 420px;
  }

  #icon-city-3 {
    top: 65px;
    left: 115px;
  }

  #footer-logos img {
    max-height: 50px;
  }

  .jumbotron {
    min-height: 450px;
  }

}

/* xxl */
@media (min-width: 1440px) {
  .jumbotron {
    min-height: 432px;
  }

  .lead-text {
    font-size: 64px;
    line-height: 68px;
  }

  #icon-feather {
    left: 245px;
    top: -35px;
  }

  #icon-city-1 {
    top: 0px;
    left: 300px;
  }

  #icon-city-2 {
    top: 5px;
    left: 400px;
  }

  #icon-city-3 {
    top: 50px;
    left: 5px;
  }

  #footer-logos img {
    max-height: 50px;
  }
}
