//@import "common/variables";

/**
 * Import npm dependencies
 *
 * Prefix your imports with `~` to grab from node_modules/
 * @see https://github.com/webpack-contrib/sass-loader#imports
 */

@use "sass:map";

// @import "~some-node-module";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
/* set the overriding variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);
$breadcrumb-divider: quote(">");
@import 'bootstrap';
@import '~bootstrap-table/dist/bootstrap-table.min.css';
@import '~bootstrap-table/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.css';
@import "~@openfonts/lexend-deca_latin/index.css";
@import "~@openfonts/dosis_latin/index.css";
@import "~ekko-lightbox/dist/ekko-lightbox.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/** Import theme styles */
// @import "common/global";
// @import "components/buttons";
// @import "components/forms";
// @import "components/grid";
// @import "layouts/footer";
// @import "layouts/header";
// @import "layouts/index";
// @import "layouts/payment-table";

// Typography
$font-default: "Open Sans", sans-serif;
$font-nav: "Open Sans script=all rev=1", sans-serif;
$color-default: #0603A6;
$color-bg-default:#EBF3F7;
$color-bg-alt: white;

body {
  font-family: $font-default;
  font-size: 13px;
  line-height: 21px;
  color: $color-default;
  background: $color-bg-default;
  word-wrap: break-word;
  hyphens: manual;
}

a {
  color: $color-default;
}

header {
  background: $color-bg-alt;
}
footer {
    background: $color-bg-alt;
    margin-bottom: 5em;

}

#footer-actions {
  padding-top: 2em;
  margin-bottom: 2em;
  background: $color-bg-default;
  width: 100%;
}

#footer-actions a {
  line-height: 18px;
}

#footer-actions .list-inline-item:first-child { margin-right: 4em !important; }
#footer-actions .list-inline-item:last-child { margin-left: 4em !important; }

#footer-logos {
  padding: 2em;
}
#footer-logos ul {
  width: 100%;
}
#footer-logos img {
  max-height: 75px;
}
.fa-2x {
  vertical-align: middle;
}

nav.navbar .nav-link {
  font-family: $font-nav;
  font-size: 28px;
  font-weight: 800;
  color: #9EC3DA !important;
}

.jumbotron {
  background: url(/static/images/local-news-bg-2x.png) no-repeat;
}

.jumbotron img {
  margin: 2em;
  width: 100%
}

.lead-text {
  color: white;
  font-family: $font-nav;
  font-weight: 800;
  font-size: 50px;
  line-height: 55px;
}

.lead-text span {
  color: #ECF248;
}

.btn {
  font-family: $font-nav;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.btn-lg {
    font-size: 32px;
    line-height: 43px;
}

.btn-primary {
  color: white;
  background-color: #0603A6;
  border-color: #0603A6;
}

h1 {
  font-family: $font-nav;
  font-size: 26px;
  line-height:28px;
  font-weight: 300;
}

h2 {
  font-family: $font-nav;
  font-size: 26px;
  line-height:32px;
  font-weight: 800;
  padding: 0.5em;
  margin: 0;
}

h3 {
  font-family: $font-default;
  font-size: 14px;
  line-height:19px;
  font-weight: 800;
  padding: 0.5em;
  margin: 0;
}

.info-box {
  padding: 1em;
  color: #000055;
}

.info-box-contents {
  background: url(/static/images/bar.svg) no-repeat top left / 30% auto white;
}

.info-box-bg {
  background-image: url(/static/images/bg-default.png);
}

.info-box-bg-alt {
  background-image: url(/static/images/bg-alt.png);
}

.info-box-bg-alt-2 {
  background-image: url(/static/images/bg-alt-2.png);
}

.info-box ol {
  padding: 0.3em;
  list-style: decimal inside;
  font-size: 26px;
  line-height: 32px;
  font-family: $font-nav;
  font-weight: 800;
}

.info-box ol > li {
  background: white;
  padding: 1em;
  width: auto;
  margin: 1em;
  border-radius: 20px;
}

.info-box ol > li span {
    font-size: 13px;
    line-height: 18px;
}

.nav-filtering {
  background: url(/static/images/bg-filter.png) repeat-x;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  padding: 1em;

  .btn {
    padding: 0;
  }
}

.nav-filtering a.nav-link {
  color: white !important;
}

.search-box {
  padding: 1em;
  background: url(/static/images/bar.svg) repeat-x bottom center / auto auto white;
}

.search-box div.search-result h2 {
  background: #EBF3F7;
}

.search-result h2 {
  font-size: 26px;
  line-height: 32px;
  background: white;
  margin-top: 1em;
  a {
    color: #000055;
  }
}

.byline {
  background: url(/static/images/bar.svg) no-repeat top left / 30% auto #9EC3DA;
  padding: 1em;
}

.tags {
}

.btn-sm {
  font-size: 8px;
  line-height: 11px;
  font-weight: 600;
  color: $color-default;
  background: #EBF3F7;
  padding: 0.5em;
  margin: 0.5em 0;
}

.actions {
    .btn {
      font-size: 8px;
      line-height: 11px;
      font-weight: 300;
      color: $color-default;
      background: white;
      border-radius: 10px;
      padding: 0.5em;
      margin: 0.5em 0;

      img {
        width: 40px;
        height: 40px;
      }
    }
}

.read-more-link {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: white;
}

.form-search {
  color: white;
  font-size: 26px;
  line-height: 28px;
  background: #9EC3DA;
  padding: 0.5em;
  input {
    color: white !important;
    background: inherit !important;
    font-size: 26px;
    line-height: 28px;
    border: 0;
    border-bottom: 1px solid white;
  }

  input::placeholder {
    color: white;
  }

  .btn {
    color: white !important;
    font-size: 26px;
    line-height: 28px;
    border: 0;
  }
}

#form-search-fp .form-search {
  color: $color-default;
  background: white;

  input {
    color: $color-default !important;
    border-bottom: 1px solid $color-default;
  }

  input::placeholder {
    color: $color-default !important;
  }

  .btn {
    color: $color-default !important;
  }
}

.breadcrumb {
  .breadcrumb-item {
    color: #000055 !important;
    a {
      color: #000055 !important;
    }
    .active {
      color: #000055 !important;
    }
  }
  background: #EBF3F7;
  padding: 0.5em;
  fint-size: 10px;
  line-height: 14px;
  font-wieght: 600;
  border-radius: 0;
  margin-bottom: 0;
}

.content {
  background: white;
  font-family: $font-default;
  font-size: 20px;
  line-height:28px;
  font-weight: 300;
  padding: 0.5em;
  margin: 0;
}

article .byline {
  background-color: #ECF248;
}

/* media queris */
@media (max-width: 440px) {
  .nav-main-link {
    display: none !important;
  }

  .lead-text {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (min-width: 440px) and (max-width: 480px) {
  .navbar-brand {
    width: 100%;
    text-align: center !important;
  }
  .navbar-toggler, .nav-main-link {
    margin-top: -50px;
  }
}

@media (max-width: 480px) {
  .lead-text {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (min-width: 1440px) {
  .lead-text {
    font-size: 64px;
    line-height: 68px;
  }
}
