{% extends 'base.html' %}

{% block title %}{%trans%}About{%endtrans%}{%endblock%}

{%block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{%trans%}Home{%endtrans%}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{%trans%}About{%endtrans%}</li>
  </ol>
</nav>
{%endblock%}

{% block cookies_set_alert %}
{%endblock%}

{% block content %}
<article role="article">
{% include sub_template %}
</article>
{% endblock %}
