<h1>{%trans%}About{%endtrans%}</h1>

<div class="info-box info-box-contents mb-4 pt-5 pl-5 pr-5 pb-5 info-box-about">
<p>
Local political news is more important than ever, but almost impossible to keep track of. PoliScoops helps you keep track of political news in the 27 Member States of the EU, as well as the political news from the EU Parliament and the UK.
</p>

<p>
  Important features of PoliScoops:
</p>
<ul>
<li>Combines the news sites from 28 countries and the EU Parliament, from about 300 sources. </li>
<li>View the news articles in their original language, or translate them to German, French or English.</li>
<li>Set alerts for keywords relevant to you and receive notifications when new articles are published. </li>
<li>PoliScoops is an Open Source platform, and we encourage re-use of our code. </li>
</ul>
<p>
NOTE: PoliScoops.eu is currently in Beta. We welcome any feedback and suggestions to the platform so that we can improve upon it. Please send that to <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.
</p>
<h2>
Who made PoliScoops?
</h2>
<p>
<a href="https://openstate.eu/">Open State Foundation</a>, a non-profit from the Netherlands that focuses on digital transparency for government developed PoliScoops. If you enjoy using the platform and wish to make a contribution we welcome and appreciate it. You can find a <a href="https://openstate.eu/en/donate/">donation form</a> here.
</p>
<p>
This is an European wide expansion of the Dutch platform PoliFLW which collects local political news on a municipal level.
</p>
<p>
The development of PoliFLW and PoliScoops was made possible by the Next Generation Internet, the NL Net foundation, the Google News Initiative and the SIDN-fund.
<h2>Reuse of the platform</h2>

<p>
<em>Software</em><br>
The platform is open source. You can find the code <a href="https://github.com/openstate/poliscoops/">here on GitHub</a> and we have released it under the <a href="https://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License v3</a>. The documentation is released under the <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International license</a>.
</p>
<p>
We have also added support for Docker, so you can run it on your own. We are currently working on the proper documentation to make this easier. Please contact us if you want to use the platform, we are happy to help you out.
</p>
<p>
<em>Design</em><br>
We are very happy with the front-end design that was created by <a href="https://vormstrateeg.nl/">De Vormstrateeg</a> and is released under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.
</p>
<p>
<em>Contents</em><br>
We do not own the contents of the platform, being the news items that political parties share. We do not impose editorial control on the contents, nor do we necessarily agree with the contents of the news items collected on PoliScoops.eu.
</p>
<p>
If you find content on the platform that you think crosses the legal line into things like hate speech or improper use of personal data and think it should be removed - please contact us, and we will evaluate: <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.
</p>
</div>
