<h1>{%trans%}About{%endtrans%}</h1>

<div class="info-box info-box-contents mb-4 pt-5 pl-5 pr-5 pb-5 info-box-about">
<p>
Lokale politische Nachrichten sind wichtiger denn je, aber kaum zu verfolgen. Mit PoliScoops können Sie die politischen Nachrichten in den 27 EU-Mitgliedstaaten sowie die politischen Nachrichten aus dem EU-Parlament und Großbritannien verfolgen.</p>

<p>
Wichtige Funktionen von PoliScoops:
</p>
<ul>
  <li> Kombiniert die Nachrichtenseiten aus 28 Ländern und dem EU-Parlament aus etwa 300 Quellen. </li>
  <li> Zeigen Sie die Nachrichtenartikel in ihrer Originalsprache an oder übersetzen Sie sie ins Deutsche, Französische oder Englische. </li>
  <li> Legen Sie Benachrichtigungen für für Sie relevante Schlüsselwörter fest und erhalten Sie Benachrichtigungen, wenn neue Artikel veröffentlicht werden. </li>
  <li> PoliScoops ist eine Open Source-Plattform und wir empfehlen die Wiederverwendung unseres Codes. </li>
  </ul>
<p>
HINWEIS: PoliScoops.eu befindet sich derzeit in der Beta. Wir freuen uns über Feedback und Vorschläge zur Plattform, damit wir sie verbessern können. Bitte senden Sie dies an <a href="mailto:contact@openstate.eu"> contact@openstate.eu</a>.
</p>
<h2>
Wer hat PoliScoops gemacht?
</h2>
<p>
<a href="https://openstate.eu/">Open State Foundation </a>, eine gemeinnützige Organisation aus den Niederlanden, die sich auf digitale Transparenz für von der Regierung entwickelte PoliScoops konzentriert. Wenn Sie die Plattform gerne nutzen und einen Beitrag leisten möchten, begrüßen und schätzen wir dies. Ein <a href="https://openstate.eu/en/donate/">Spendenformular</a> finden Sie hier.</p>
<p>
Dies ist eine europaweite Erweiterung der niederländischen Plattform PoliFLW, die lokale kommunale Nachrichten auf kommunaler Ebene sammelt.
</p>
<p>
Die Entwicklung von PoliFLW und PoliScoops wurde durch das Next Generation Internet, die NL Net Foundation, die Google News Initiative und den SIDN-Fonds ermöglicht.
</p>
<h2>Wiederverwendung der Plattform</h2>

<p>
<em>Software</em><br>
Die Plattform ist Open Source. Sie finden den Code <a href="https://github.com/openstate/poliscoops/"> hier auf GitHub </a> und wir haben ihn unter <a href="https://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License v3</a>. Die Dokumentation wird unter der <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International-Lizenz</a> veröffentlicht.
</p>
<p>
Wir haben auch Unterstützung für Docker hinzugefügt, sodass Sie es selbst ausführen können. Wir arbeiten derzeit an der richtigen Dokumentation, um dies zu vereinfachen. Bitte kontaktieren Sie uns, wenn Sie die Plattform nutzen möchten. Wir helfen Ihnen gerne weiter.
</p>
<p>
<em>Design</em><br>
Wir sind sehr zufrieden mit dem Front-End-Design, das von <a href="https://vormstrateeg.nl/"> De Vormstrateeg </a> erstellt wurde und unter dem Namen <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 Public Domain Dedication</a>.
</p>
<p>
<em>Inhalt</em><br>
Wir besitzen nicht den Inhalt der Plattform, da es sich um Nachrichten handelt, die von politischen Parteien geteilt werden. Wir erlegen keine redaktionelle Kontrolle über den Inhalt auf und stimmen dem Inhalt der auf PoliScoops.eu gesammelten Nachrichten nicht unbedingt zu.
</p>
<p>
Wenn Sie auf der Plattform Inhalte finden, von denen Sie glauben, dass sie die gesetzlichen Grenzen überschreiten, z. B. Hassreden oder die missbräuchliche Verwendung personenbezogener Daten, und die der Meinung sind, dass sie entfernt werden sollten, kontaktieren Sie uns bitte, und wir werden Folgendes bewerten: <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.
</p>
</div>
