{% extends 'base.html' %}

{% block content %}

{% include 'search.html' %}

<div class="row">
  <div class="col-xs-12">

    <h2>Wat is PoliFLW?</h2>
    <p>De lokale politiek krijgt steeds minder aandacht in de media, onder andere vanwege bezuinigingen. Tegelijkertijd worden gemeenten door decentralisaties steeds belangrijker. Met PoliFLW kost het journalisten (en andere belangstellenden) minder tijd om de uitlatingen van lokale politieke partijen en politici te volgen.</p>

    <p>
    Info over PoliFLW:
    <ul>
    <li>Meer dan 500.000 artikelen, daterend van vandaag tot decennia geleden</li>
    <li>Meer dan 3.000 bronnen, bestaande uit websites en Facebookpagina's van lokale politieke partijen</li>
    <li>Filter op datum, locatie, bron, politicus en politieke partij of doorzoek de artikelen op tekst</li>
    <li>Vier keer per dag worden de meest recente artikelen toegevoegd</li>
    <li>Hergebruik alle data voor je eigen website of toepassing op geautomatiseerde wijze via onze API</li>
    </ul>
    </p>


    <h2>Wij horen graag jouw feedback!</h2>
    <p>
    PoliFLW wordt gemaakt door de Open State Foundation en is nog volop in ontwikkeling. Wij zijn niet onbekend met journalistiek, maar we zijn zelf geen journalisten. Daarom hebben wij jullie feedback nodig! Hoe kunnen wij PoliFLW verbeteren zodat het jou zo goed mogelijk kan helpen met je werk? Welke functionaliteiten mis je? Wat kan handiger? Klik op 'Feedback' in het menu, of e-mail naar <a href="mailto:contact@openstate.eu">contact@openstate.eu</a> of vul het contactformulier onderaan <a href="https://openstate.eu/nl/contact/">deze pagina</a> in.
    </p>
    <p>
    Om het filteren op politici en politieke partijen mogelijk te maken gebruiken wij een <a href="https://en.wikipedia.org/wiki/Named-entity_recognition">named-entity recognition algoritme</a>. Dit zorgt er voor dat je kan filteren op een politicus of politieke partij, ook al wordt de term op verschillende wijze gespeld in de artikelen. Om dit algoritme beter te maken zie je soms een melding in een artikel met de vraag of we de juiste persoon of partij hebben herkend in de tekst. Door op deze vragen te reageren maak je het filteren op politici accurater. Ook over deze vragen en de manier waarop ze gesteld worden horen wij graag jullie feedback.
    </p>


    <h2>Work in progress</h2>
    <p>Op dit moment verzamelen we de artikelen van de lokale afdelingen van deze 9 nationale politieke partijen: VVD, CDA, D66, GroenLinks, SP, PvdA, ChristenUnie, Partij voor de Dieren en de SGP. Binnenkort breiden we dit uit naar lokale afdelingen van meer nationale politieke partijen. Ook zullen we van 10 gemeenten alle lokale politieke partijen, dus ook als deze enkel in hun eigen gemeente meedoen, toevoegen.</p>

    <h2>Verantwoording</h2>
    <p>Dit project wordt gefinancierd door het <a href="https://digitalnewsinitiative.com/">Digital News Initiative Innovation Fund</a>. Het concept van PoliFLW en de uitvoering liggen volledig bij de <a href="https://openstate.eu/">Open State Foundation</a>, een Nederlandse stichting die zich inzet voor digitale transparantie door middel van open data.</p>

    <h2>Disclaimer</h2>
    <p>Om PoliFLW te kunnen verbeteren verzamelen wij geanonimiseerde gebruikersdata door middel van een cookie. Deze data wordt nooit gekoppeld aan identiteit of locatie.</p>


  </div>
</div>
{% endblock %}
