<h1>{%trans%}About{%endtrans%}</h1>

<div class="info-box info-box-contents mb-4 pt-5 pl-5 pr-5 pb-5 info-box-about">
<p>
Les nouvelles politiques locales sont plus importantes que jamais, mais presque impossibles à suivre. PoliScoops vous aide à suivre les actualités politiques dans les 27 États membres de l'UE, ainsi que les actualités politiques du Parlement européen et du Royaume-Uni.
</p>

<p>
Caractéristiques importantes de PoliScoops:
</p>
<ul>
  <li> Regroupe les sites d'actualités de 28 pays et le Parlement européen, provenant d'environ 300 sources. </li>
  <li> Affichez les articles dans leur langue d'origine ou traduisez-les en allemand, français ou anglais. </li>
  <li> Définissez des alertes pour les mots clés qui vous concernent et recevez des notifications lorsque de nouveaux articles sont publiés. </li>
  <li> PoliScoops est une plateforme Open Source et nous encourageons la réutilisation de notre code. </li>
</ul>
<p>
REMARQUE: PoliScoops.eu est actuellement en version bêta. Nous accueillons tous les commentaires et suggestions sur la plateforme afin que nous puissions l'améliorer. Veuillez l'envoyer à <a href="mailto:contact@openstate.eu"> contact@openstate.eu </a>.
</p>
<h2>
Qui a fabriqué PoliScoops?
</h2>
<p>
<a href="https://openstate.eu/">Open State Foundation</a>, une organisation à but non lucratif des Pays-Bas qui se concentre sur la transparence numérique pour PoliScoops développé par le gouvernement. Si vous aimez utiliser la plate-forme et souhaitez apporter une contribution, nous vous en remercions et l'apprécions. Vous pouvez trouver un <a href="https://openstate.eu/en/donate/">formulaire de don</a> ici.</p>
<p>
Il s'agit d'une extension à l'échelle européenne de la plateforme néerlandaise PoliFLW qui recueille des informations politiques locales au niveau municipal.
</p>
<p>
Le développement de PoliFLW et de PoliScoops a été rendu possible grâce à Internet Next Generation, à la fondation NL Net, à Google News Initiative et au fonds SIDN.
</p>
<h2>Réutilisation de la plateforme</h2>

<p>
<em>Logiciel</em><br>
La plateforme est open source. Vous pouvez trouver le code <a href="https://github.com/openstate/poliscoops/">ici sur GitHub</a> et nous l'avons publié sous le <a href="https://www.gnu.org/licenses/lgpl-3.0.html">GNU Lesser General Public License v3</a>. La documentation est publiée sous la <a href="https://creativecommons.org/licenses/by/4.0/deed.en">licence Creative Commons Attribution 4.0 International</a>.
</p>
<p>
Nous avons également ajouté la prise en charge de Docker, vous pouvez donc l'exécuter vous-même. Nous travaillons actuellement sur la documentation appropriée pour vous faciliter la tâche. Veuillez nous contacter si vous souhaitez utiliser la plateforme, nous sommes heureux de vous aider.
</p>
<p>
<em>Conception</em><br>
Nous sommes très satisfaits de la conception frontale créée par <a href="https://vormstrateeg.nl/">De Vormstrateeg</a> et publiée sous le <a href="https://creativecommons.org/publicdomain/zero/1.0/"> Dédicace du domaine public CC0</a>.
</p>
<p>
<em>Contenu</em><br>
Nous ne sommes pas propriétaires du contenu de la plate-forme, étant les informations que les partis politiques partagent. Nous n'imposons pas de contrôle éditorial sur le contenu et nous ne sommes pas nécessairement d'accord avec le contenu des informations collectées sur PoliScoops.eu.
</p>
<p>
Si vous trouvez du contenu sur la plate-forme qui, selon vous, franchit la limite légale en des choses comme le discours de haine ou une mauvaise utilisation des données personnelles et pensez qu'il devrait être supprimé - veuillez nous contacter, et nous évaluerons: <a href="mailto:contact@openstate.eu">contact@openstate.eu</a>.
</p>
</div>
