<!doctype html>
<html lang="EN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    <title>{%trans%}Poliscoops{%endtrans%}</title>
    {% endblock %}
    <meta name="description" content="Lokaal politiek nieuws">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{%trans%}Poliscoops{%endtrans%}">
    <meta name="application-name" content="{%trans%}Poliscoops{%endtrans%}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    {% block og %}
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:title" content="{%trans%}Poliscoops{%endtrans%}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logo-og.png', _external=True) }}" />
    {% endblock %}

    <meta name="google-site-verification" content="YvPuaR2sNzCGEcQQIWhoDkN0HE6yD8Z3c3A4yRW-erY" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/dist/styles/poliscoops.css') }}" />
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">{%trans%}Poliscoops{%endtrans%}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="{%trans%}Toggle navigation{%endtrans%}">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search') }}">search  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">subscribe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">contribute</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">feedback</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {%trans%}source countries{%endtrans%}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {%trans%}language articles{%endtrans%}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ modify_query(hl='nl') }}">nl</a>
                <a class="dropdown-item" href="{{ modify_query(hl='en') }}">en</a>
                <a class="dropdown-item" href="{{ modify_query(hl='fr') }}">fr</a>
                <a class="dropdown-item" href="{{ modify_query(hl='de') }}">de</a>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">about us</a>
            </li>
          </ul>
        </div>
      </nav>

      <!--
      <nav class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">{%trans%}Toggle navigation{%endtrans%}</span>
              {%trans%}Menu{%endtrans%}
            </button>
            <a id="small-brand" class="navbar-brand visible-xs-inline" href="/{{ gov_slug }}"><img src="/static/images/logo.svg"></a>
            <a id="large-brand" class="navbar-brand hidden-xs hidden" href="/{{ gov_slug }}"><img src="/static/images/logo.svg"></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/">{%trans%}Home{%endtrans%}</a></li>
              <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{%trans%}Taal{%endtrans%} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ modify_query(hl='nl') }}">{%trans%}nl{%endtrans%}</a></li>
                          <li><a href="{{ modify_query(hl='en') }}">{%trans%}en{%endtrans%}</a></li>
                          <li><a href="{{ modify_query(hl='fr') }}">{%trans%}fr{%endtrans%}</a></li>
                          <li><a href="{{ modify_query(hl='de') }}">{%trans%}de{%endtrans%}</a></li>
                        </ul>
                      </li>
              <li><a href="/over">{%trans%}About{%endtrans%}</a></li>
              <li><a href="https://docs.poliflw.nl">{%trans%}API{%endtrans%}</a></li>
              <li><a href="http://poliflw.idea.informer.com/proj/" target="_blank">{%trans%}Feedback{%endtrans%}</a></li>
              <li><a href="#contact">{%trans%}Contact{%endtrans%}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    -->
  </header>
    <div class="container" role="main">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
      <div class="container">
        <div id="footer-logos" class="d-flex justify-content-center">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://newsinitiative.withgoogle.com/dnifund/" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/dni-logo.png') }}" alt="{%trans%}DNI Fund{%endtrans%}" style="max-height: 75px;">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.sidnfonds.nl/" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/sidnfonds-logo.svg') }}" alt="{%trans%}SIDN Fonds{%endtrans%}" style="margin-top: 22px; max-height: 75px;">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://openstate.eu" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/logo-open-state-foundation.svg') }}" alt="{%trans%}Open State Foundation{%endtrans%}" style="max-height: 75px;">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://nlnet.nl" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/nl-ned-logo.png') }}" alt="{%trans%}NL Net{%endtrans%}" style="max-height: 75px;">
              </a>
            </li>
          </ul>
        </div>

        <div id="footer-actions" class="d-flex justify-content-center">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="/privacy">{%trans%}Privacy{%endtrans%}</a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="https://www.facebook.com/openstatefoundation/?fref=ts" target="_blank"><i class="fa fa-facebook fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="https://twitter.com/OpenStateEU" target="_blank"><i class="fa fa-twitter fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="https://github.com/openstate" target="_blank"><i class="fa fa-github fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="http://openstate.eu/contact"><i class="fa fa-envelope-o fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a href="/disclaimer">{%trans%}Disclaimer{%endtrans%}</a></li>
            </ul>
        </div>
      </div>
    </footer>

    <!-- modals -->

    <div class="modal fade" id="form-email-subscribe" tabindex="-1" role="dialog" aria-labelledby="form-email-subscribe-label" data-user-query="{{ query }}">
      <form>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="form-email-subscribe-label">{%trans%}Subscribe to search{%endtrans%}</h4>
          </div>
          <div class="modal-body">
            <p>{%trans%}You can subscribe to the following query:{%endtrans%}
            <ul id="form-email-subscribe-filters">
              <li id="form-email-subscribe-filters-query">
                <em>{%trans%}Search query:{%endtrans%}</em> &apos;<span>{{ query }}</span>&apos;
              </li>
              <li id="form-email-subscribe-filters-location">
                <em>{%trans%}Location:{%endtrans%}</em> <span>-</span>
              </li>
              <li id="form-email-subscribe-filters-parties">
                <em>{%trans%}Party:{%endtrans%}</em> <span>-</span>
              </li>
            </ul>
            <p>{%trans%}Choose one of the following options and enter your email to subscribe to the search query above{%endtrans%}</p>
              <div class="radio">
                <label>
                  <input type="radio" name="frequency" id="frequency" value="" checked>
                  {%trans%}Direct notification{%endtrans%}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="frequency" id="frequency" value="1h">
                  {%trans%}Hourly{%endtrans%}
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="frequency" id="frequency" value="6h">
                  {%trans%}6 hours{%endtrans%}
                </label>
              </div>
              <div class="form-group">
                <label for="form-subscribe-email">{%trans%}Email address{%endtrans%}</label>
                <input type="text" class="form-control" name="email" id="form-subscribe-email" placeholder="jan@example.org" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="email-subscribe-btn-ok" class="btn btn-primary">{%trans%}Subscribe{%endtrans%}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{%trans%}Cancel{%endtrans%}</button>
          </div>
        </div>
      </div>
      </form>
    </div>
    <!-- SCRIPTS -->

    {% block scripts %}
      <script src="{{ url_for('static', filename='dist/dist/dist/scripts/poliscoops.js') }}"></script>
    {% endblock %}
    <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32274817-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-32274817-12', { 'anonymize_ip': true });
    </script>

  </body>
</html>
