<!doctype html>
<html lang="{{ hl }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block title %}
    <title>{%trans%}Poliscoops{%endtrans%}</title>
    {% endblock %}
    <meta name="description" content="Lokaal politiek nieuws">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='images/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="{%trans%}Poliscoops{%endtrans%}">
    <meta name="application-name" content="{%trans%}Poliscoops{%endtrans%}">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    {% block og %}
    <meta property="og:url" content="{{ request.url }}" />
    <meta property="og:title" content="{%trans%}Poliscoops{%endtrans%}" />
    <meta property="og:image" content="{{ url_for('static', filename='images/logo-og.png', _external=True) }}" />
    {% endblock %}

    <meta name="google-site-verification" content="YvPuaR2sNzCGEcQQIWhoDkN0HE6yD8Z3c3A4yRW-erY" />

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/dist/styles/poliscoops.css') }}" />
  </head>
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <nav class="navbar navbar-expand-xxl navbar-light container" style="background-color: #ffffff;" role="navigation">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='dist/images/logo-desktop.svg') }}" alt="{%trans%}Poliscoops{%endtrans%}" style="width: 200px;" /></a>
        <a class="nav-main-link nav-link d-flex d-none d-xs-block d-sm-none" href="{{ url_for('show_page', page_name='about', hl=hl, rl=rl) }}">{%trans%}About{%endtrans%}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="{%trans%}Toggle navigation{%endtrans%}">
          <span class="navbar-toggler-icon"></span> {%trans%}Menu{%endtrans%}
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search', hl=hl, rl=rl) }}">{%trans%}Search{%endtrans%}  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('languages', redirect=redirect, hl=hl, rl=rl) }}">{%trans%}Languages{%endtrans%}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('countries', redirect=redirect, hl=hl, rl=rl) }}">{%trans%}Countries{%endtrans%}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_page', page_name='feedback', hl=hl, rl=rl) }}">{%trans%}Feedback{%endtrans%}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('show_page', page_name='about', hl=hl, rl=rl) }}">{%trans%}About{%endtrans%}</a>
            </li>
          </ul>
        </div>

        <a class="nav-link nav-link-selection nav-link-country-selection" href="#"><i class="fa fa-2x fa-globe" aria-hidden="true"></i> [2/24]</a>
        <a class="nav-link nav-link-selection nav-link-language-selection" href="#"><img src="/static/images/countries/{{ hl }}.svg" alt="{{ hl }}" style="max-height: 26px;" class="mr-1" />{{ dict(interface_languages)[hl] }}</a>
      </nav>

  </header>

  <main>
  {% block search %}
  {% endblock %}
    <div class="container" role="main">
      <div class="row">
        <div class="col-xs-12">
          {% block breadcrumb %}
          {% endblock %}
        </div>
      </div>
      {% block cookies_set_alert %}
      {% if not cookie_countries_set %}
      <div class="row">
        <div class="col-xs-12 w-100">
          <div class="alert alert-primary w-100 mt-3" role="alert">
            {%trans url=url_for('countries', redirect=redirect, hl=hl, rl=rl) %}It looks like you have not selected any source countries. You can change this <a href="{{ url }}">here</a>.{%endtrans%}
          </div>
        </div>
      </div>
      {% endif %}
      {% endblock %}
    {% block content %}
    {% endblock %}
    </div>
  </main>

    <footer>
        <div id="footer-logos" class="d-flex flex-wrap justify-content-around">
          <ul class="list-inline d-flex justify-content-around flex-wrap">
            <li class="list-inline-item">
              <a href="https://www.sidnfonds.nl/" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/sidnfonds-logo.svg') }}" alt="{%trans%}SIDN Fonds{%endtrans%}">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://newsinitiative.withgoogle.com/dnifund/" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/dni-logo.png') }}" alt="{%trans%}DNI Fund{%endtrans%}">
              </a>
            </li>
            <!-- -->
            <li class="list-inline-item">
              <a href="https://nlnet.nl" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/logo-nlnet.svg') }}" alt="{%trans%}NL Net{%endtrans%}">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://nlnet.nl" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/logo-ngieu.svg') }}" alt="{%trans%}NL Net{%endtrans%}">
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://openstate.eu" target="_blank">
                <img class="img-responsive pull-left" src="{{ url_for('static', filename='dist/images/logo-open-state-foundation.svg') }}" alt="{%trans%}Open State Foundation{%endtrans%}">
              </a>
            </li>
          </ul>
        </div>

        <div id="footer-actions" class="d-flex justify-content-center">
            <ul class="list-inline">
              <!-- <li class="list-inline-item"><a href="/privacy">{%trans%}Privacy{%endtrans%}</a></li> -->
              <li class="list-inline-item"><a class="right-footer-padding" href="https://www.facebook.com/openstatefoundation/?fref=ts" target="_blank"><i class="fa fa-facebook fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="https://twitter.com/OpenStateEU" target="_blank"><i class="fa fa-twitter fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="https://github.com/openstate" target="_blank"><i class="fa fa-github fa-2x text-grey"></i></a></li>
              <li class="list-inline-item"><a class="right-footer-padding" href="http://openstate.eu/contact"><i class="fa fa-envelope-o fa-2x text-grey"></i></a></li>
              <!-- <li class="list-inline-item"><a href="/disclaimer">{%trans%}Disclaimer{%endtrans%}</a></li> -->
            </ul>
        </div>
    </footer>

    <!-- modals -->

    <div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog" aria-labelledby="modal-subscribe-label" aria-hidden="true" data-user-query="{{ query }}">
      <form action="{{ url_for('email_subscribe') }}" method="post">
        {% if hl %}
        <input type="hidden" name="hl" value="{{ hl }}" />
        {% endif %}
        {% if rl %}
        <input type="hidden" name="rl" value="{{ hl }}" />
        {% endif %}
        {%if query %}
        <input type="hidden" name="query" value="{{ query }}" />
        {% endif %}
        {% if search_params.location %}
        <input type="hidden" name="location" value="{{ search_params.location |join(',') }}" /> <!-- TODO: countries! -->
        {% endif %}
        {% if search_params.actor %}
        <input type="hidden" name="actor" value="{{ search_params.actor }}" />
        {% endif %}
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-subscribe-label">{%trans%}Collect &amp; Subscribe{%endtrans%}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="info-box">
              <div class="info-box-contents">
                <ol class="info-box-bg-alt-2">
                  <li class="clearfix">
                    <div class="counter">
                      <img src="/static/images/icon-help.svg" alt="{%trans%}Mail{%endtrans%}" class="img-responsive visible-xs-inline">
                    </div>
                    <div class="exp">
                      {%trans%}Select which of the content you will receive{%endtrans%}
                    </div>
                  </li>
                </ol>
              </div>
            </div>

            {%if query %}
            <a class="btn btn-default btn-selectable btn-block w-100  d-flex align-items-center" href="#" title="{{ query }}" role="button">
              <i class="fa fa-circle" aria-hidden="true"></i> {{ query }}
              <i class="fa fa-check-square-o ml-auto" aria-hidden="true"></i>
            </a>
            {% endif %}

            {% if search_params.location %}
            <a id="modal-subscribe-location-info" class="btn btn-default btn-selectable btn-block w-100  d-flex align-items-center" href="#" role="button">
              <!-- TODO: locaton is either a list or string and contrains full links to places. resolve. -->
              <i class="fa fa-map" aria-hidden="true"></i>
              <ul class="list-inline">
                {% for s in search_params.location %}
                  {% if s.endswith('Place/') %}
                  <!-- skipped -->
                  {% else %}
                  <li class="list-inline-item" data-location="{{ s }}">{{ s }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
              <i class="fa fa-check-square-o ml-auto" aria-hidden="true"></i>
            </a>
            {% endif %}

            {% if search_params.actor %}
            <a class="btn btn-default btn-selectable btn-block w-100  d-flex align-items-center" href="{{ actor }}" title="{{ actor }}" role="button">
              <i class="fa fa-circle" aria-hidden="true"></i> {{ search_params.actor }}
              <i class="fa fa-check-square-o ml-auto" aria-hidden="true"></i>
            </a>
            {% endif %}

            <div class="info-box">
              <div class="info-box-contents">
                <ol class="info-box-bg-alt mb-0">
                  <li class="clearfix">
                    <div class="counter">
                      <img src="/static/images/icon-mail.svg" alt="{%trans%}Mail{%endtrans%}" class="img-responsive visible-xs-inline">
                    </div>
                    <div class="exp">
                      {%trans%}Subscribe &amp; receive email for your selected topics.{%endtrans%}
                    </div></li>
                </ol>
              </div>
            </div>

            <div class="info-box-contents mb-4 language-selection">
              <h3 class="">{%trans%}Interval{%endtrans%}:</h3>
              <!--
              <ul class="nav nav-pills">
                {% for k, v in intervals.iteritems() %}
                  <li class="nav-item mr-4">
                    <a class="nav-link {% if k == hl %}active{% endif %}" href="{{ url_for('set_language', hl=k, rl=rl)}}">{{ v }}</a>
                  </li>
                {% endfor %}
              </ul> -->
              {% for k, v in intervals.iteritems() %}
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="interval-{{ k }}" name="interval" class="custom-control-input" value="{{ k }}">
                <label class="custom-control-label" for="interval-{{ k }}">{{ v }}</label>
              </div>
              {% endfor %}
              <div class="form-group">
                <label for="form-subscribe-email">{%trans%}Email address{%endtrans%}</label>
                <input type="text" class="form-control" name="email" id="form-subscribe-email" placeholder="jan@example.org" required aria-required="true">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="email-subscribe-btn-ok" class="btn btn-primary">{%trans%}Subscribe{%endtrans%}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{%trans%}Cancel{%endtrans%}</button>
          </div>
        </div>
      </div>
    </form>
    </div>
    <!-- SCRIPTS -->

    {% block scripts %}
      <script src="{{ url_for('static', filename='dist/dist/dist/scripts/poliscoops.js') }}"></script>
    {% endblock %}
    <script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32274817-12"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-32274817-12', { 'anonymize_ip': true });
    </script>

  </body>
</html>
