{% extends 'base.html' %}

{% block title %}{%trans%}Countries{%endtrans%}{%endblock%}

{%block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{%trans%}Home{%endtrans%}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{%trans%}Countries{%endtrans%}</li>
  </ol>
</nav>
{%endblock%}

{% block cookies_set_alert %}
{%endblock%}

{% block content %}

<h1>{%trans%}Source countries{%endtrans%}</h1>

<div class="info-box-contents mb-4 language-selection">

<h3 class="">{%trans%}Set the source{%endtrans%}:</h3>

<form method="post" action="{{ url_for('set_countries') }}" class="form-countries">
  <input type="hidden" name="redirect" value="{{ redirect }}">
  {% for k, v in countries.iteritems() %}
  <div class="form-check mb-4 btn-selectable d-flex" role="button" tabindex="0">
    <label class="form-check-label w-100 mr-auto d-flex align-items-center" for="check-country-{{ k }}" tabindex="0">
      <img src="/static/images/countries/{{ k |lower }}.svg" alt="{{ k }}" style="max-width: 26px; max-height: 26px;" class="mr-1" />
      {{ v }}
    </label>
    <div class="ml-auto">
      <input type="checkbox" class="form-check-input" name="countries" value="{{ locations[k] }}" id="check-country-{{ k }}" {%if locations[k] in selected_countries %}checked{%endif%}>
    </div>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{%endblock%}
