{% extends 'base.html' %}

{% block content %}

<h1>{%trans%}Source countries{%endtrans%}</h1>

<h2>{%trans%}Set the source{%endtrans%}</h2>

<form method="post" action="{{ url_for('set_countries') }}">
  {% for k, v in countries.iteritems() %}
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" name="countries" value="{{ locations[k] }}" id="check-country-{{ k }}" {%if locations[k] in selected_countries %}checked{%endif%}>
    <label class="custom-control-label" for="check-country-{{ k }}">{{ v }}</label>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>{{ selected_countries }}</p>
<p>{{ locations }}</p>
{%endblock%}
