{% extends 'base.html' %}

{%block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{%trans%}Home{%endtrans%}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{%trans%}Countries{%endtrans%}</li>
  </ol>
</nav>
{%endblock%}

{% block content %}

<h1>{%trans%}Source countries{%endtrans%}</h1>

<div class="info-box-contents mb-4 language-selection">

<h3 class="">{%trans%}Set the source{%endtrans%}:</h3>

<form method="post" action="{{ url_for('set_countries') }}" class="form-countries">
  {% for k, v in countries.iteritems() %}
  <div class="form-check mb-4">
    <input type="checkbox" class="form-check-input" name="countries" value="{{ locations[k] }}" id="check-country-{{ k }}" {%if locations[k] in selected_countries %}checked{%endif%}>
    <label class="form-check-label btn-selectable w-100  d-flex align-items-center" for="check-country-{{ k }}">
      {{ v }} <i class="fa fa-{%if locations[k] in selected_countries %}check-{%endif%}square-o ml-auto" aria-hidden="true"></i>
    </label>
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{%endblock%}
