{% extends 'base.html' %}

{% block title %}{%trans%}Data{%endtrans%}{%endblock%}

{% block content %}
<div class="row">

<div class="col-md-6 article-text"><p>OpenWob.nl is een project van <a href="https://openstate.eu" target="_blank">Open State Foundation</a>. Om Wob verzoeken vindbaar en doorzoekbaar te maken, hebben we alle online vindbare Wob-verzoeken, besluiten en bijlagen van verschillende overheden, bestuursorganen en toezichthouders verzameld. Al in 2001 adviseerde de <a href="https://www.rijksoverheid.nl/documenten/rapporten/2007/09/20/in-dienst-van-de-democratie-het-rapport-van-de-commissie-toekomst-overheidscommunicatie" target="_blank">Commissie Toekomst Overheidscommunicatie</a> om informatie die volgens de <a href="http://wetten.overheid.nl/BWBR0005252/" target="_blank">Wet Openbaarheid van Bestuur</a> beschikbaar zou moeten zijn, op het internet te zetten. Toch publiceren niet alle overheden alle Wob verzoeken en besluiten.</p></div>

<div class="col-md-6 article-text"><p>Er zijn vandaag de dag slechts enkele gemeenten en bestuursorganen die structureel alle Wob besluiten online publiceren. Hier vind je Wob documenten van o.a. de rijksoverheid, de gemeenten Utrecht en Rotterdam, provincies Noord-Holland en Gelderland, het OM en de politie, ACM, NZa, COA, NPO, NCTV, en de AFM. We maken gebruik van <a href="https://www.documentcloud.org" target="_blank">DocumentCloud</a>. Je kunt gebruik maken van de <a href="https://www.documentcloud.org/help/api" target="_blank">Documentcloud API</a> (<a href="https://www.documentcloud.org/help/api" target="_blank">documentatie</a>). Het project id is <a href="https://www.documentcloud.org/api/search.json?q=projectid:19706-wob-besluiten&per_page=1" target="_blank">19706-wob-besluiten</a>.</p></div>


</div>
{% endblock %}
