<div class="info-box">
  <div class="info-box-contents">
    <h2>{%trans%}Feedback{%endtrans%}</h2>
    <ol class="info-box-bg-alt mb-0">
      <li class="clearfix"><div class="counter"><img src="/static/images/icon-help.svg" alt="{%trans%}Help{%endtrans%}" class="img-responsive visible-xs-inline"></div><div class="exp">{%trans%}Help us if we missed something or if you have a suggestion{%endtrans%}</div></li>
    </ol>
    <ol class="info-box-alt-no-bg mb-0">
      <li class="clearfix">
        <div class="counter">
          <img src="/static/images/icon-mail.svg" alt="{%trans%}Mail{%endtrans%}" class="img-responsive visible-xs-inline">
        </div>
        <div class="exp">
          {%trans%}Please fill out the contact form  at the <a href="https://openstate.eu/en/contact/" target="_blank">openstate.eu website</a>.{%endtrans%}
        </div></li>
    </ol>
    <div class="info-box-alt-no-bg pt-5 pb-5 pl-5 pr-5">
      <!--
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">{%trans%}Email address{%endtrans%}</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">{%trans%}We'll never share your email with anyone else.{%endtrans%}</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">{%trans%}Message{%endtrans%}</label>
          <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="agree" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">{%trans%}I agree to the terms and conditons.{%endtrans%}</label>
        </div>
        <button type="submit" class="btn btn-primary">{%trans%}Submit{%endtrans%}</button>
      </form> -->
    </div>
  </div>
</div>
