<div class="row nav-filtering">
  <div class="col">
    <span id="filter-bar-sorting-label" class="filter-bar-label mr-1">{%trans%}Sort by{%endtrans%}</span>
    <ul class="nav nav-pills d-flex align-items-center" role="toolbar">
      <li class="nav-item dropdown">
        <button
          id="filter-bar-sorting-button" class="nav-link dropdown-toggle"
          data-toggle="dropdown" href="#" role="button"
          aria-haspopup="listbox" aria-expanded="false"
          aria-labelledby="filter-bar-sorting-label filter-bar-sorting-button">
          {% if filter_bar_sort == "recent" %}
          {%trans%}Most recent{%endtrans%}
          {% else %}
          {%trans%}Most relevant{%endtrans%}
          {% endif %}
        </button>
        <ul class="dropdown-menu" tabindex="-1"
          role="listbox"
          aria-labelledby="filter-bar-sorting-label">
          <li
            role="option"
            {% if filter_bar_sort != "recent" %}
            aria-selected="true"
            {% endif %}
          >
            <a class="dropdown-item" role="option" href="{{ filter_bar_relevance_link }}">
              {%trans%}Most relevant{%endtrans%}
            </a>
          </li>
          <li
            role="option"
            {% if filter_bar_sort == "recent" %}
            aria-selected="true"
            {% endif %}
          >
          <a class="dropdown-item" role="option" href="{{ filter_bar_recent_link }}">
            {%trans%}Most recent{%endtrans%}
          </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  {% if not filter_bar_homepage %}
  <div class="col text-right">
    <a class="btn btn-filter-bar" href="#" data-toggle="modal" data-target="#modal-filters" role="button">
      <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      <span>{%trans%}Sort{%endtrans%}</span>
    </a>
    <a class="btn btn-filter-bar" href="#" data-toggle="modal" data-target="#modal-subscribe" role="button">
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      <span>{%trans%}Collect{%endtrans%}</span>
    </a>
  </div>
  {% endif %}
</div>
