<ul class="nav nav-pills nav-filtering d-flex align-items-center" role="toolbar">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      {% if filter_bar_sort == "recent" %}
      {%trans%}Most recent{%endtrans%}
      {% else %}
      {%trans%}Most relevant{%endtrans%}
      {% endif %}
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{{ filter_bar_relevance_link }}">
        {%trans%}Most relevant{%endtrans%}
      </a>
      <a class="dropdown-item" href="{{ filter_bar_recent_link }}">
        {%trans%}Most recent{%endtrans%}
      </a>
    </div>
  </li>
  {% if not filter_bar_homepage %}
  <li class="ml-auto">
    <a class="btn btn-filter-bar" href="#" data-toggle="modal" data-target="#modal-filters" role="button">
      <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
      <span>{%trans%}Sort{%endtrans%}</span>
    </a>
    <a class="btn btn-filter-bar" href="#" data-toggle="modal" data-target="#modal-subscribe" role="button">
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      <span>{%trans%}Collect{%endtrans%}</span>
    </a>
  </li>
  {% endif %}
</ul>
