{% extends 'base.html' %}

{% block lead %}
<p class="lead-text">Vind en doorzoek Wob verzoeken, besluiten en bijlagen in {{ gov_slug |humanize }}</p>
{% endblock %}

{% block content %}
{% include 'search.html' %}

<section id="browse">
<div class="row">
  <div class="col-xs-12 col-md-6" id="categories">
    <h2>Zoeken per thema</h2>
    {% for category in categories %}
      <a class="btn btn-default" href="#" role="button">{{ category.key }} ({{ category.doc_count}})</a>
    {% endfor %}
  </div>
  <div class="col-xs-12 col-md-6">
    <h2>Open WOB verzoeken</h2>
  </div>
</div>
</section>

<section id="statistics">
  <div class="row">
    <div class="col-xs-12">
      <h2>Statistieken</h2>
    </div>
    <div class="col-xs-12 col-md-6">
      maand stats
    </div>
    <div class="col-xs-12 col-md-6">
      looptijd stats
    </div>
  </div>
</section>

<section id="words">
  <div class="row">
    <div class="col-xs-12">
      wordcloud
    </div>
</section>
{% endblock %}
