{% extends 'base.html' %}

{% block lead %}
<p class="lead-text">Vind en doorzoek Wob verzoeken, besluiten en bijlagen in {{ gov_slug |humanize }}</p>
{% endblock %}

{% block content %}
{% include 'search.html' %}

<section id="browse">
<div class="row">
  <div class="col-xs-12 col-md-6" id="categories">
    <h2>Zoeken per thema</h2>
    {% for category in facets.facets.categories.buckets %}
      <a class="btn btn-default btn-category" href="{{ url_for('search', gov_slug=gov_slug, category=category.key) }}" role="button">{{ category.key }} ({{ category.doc_count}})</a>
    {% endfor %}

    <h2>Zoeken op status</h2>
    {% for status in facets.facets.status.buckets %}
      <a class="btn btn-default btn-category" href="{{ url_for('search', gov_slug=gov_slug, status=status.key) }}" role="button">{{ status.key }} ({{ status.doc_count}})</a>
    {% endfor %}

  </div>
  <div class="col-xs-12 col-md-6" id="open-requests">
    <h2>Openstaande WOB verzoeken</h2>
    {% include 'results_as_condensed_list.html' %}
    <a href="{{ url_for('search', gov_slug=gov_slug, status='Openstaand') }}" class="btn btn-default btn-large" style="width: 100%;">Toon alle {{ results.meta.total }} openstaande wob verzoeken</a>
  </div>
</div>
</section>

<section id="statistics">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12">
      <div class="well">
        <div class="row">
          <div class="col-xs-12">
            <h2>Statistieken</h2>
          </div>
          <div class="col-xs-12 col-md-6" style="color: #c21889;">
            <div id="graph-monthly" class="graph">
              <svg></svg>
            </div>
          </div>
          <div class="col-xs-12 col-md-6" style="color: #c21889;">
            <p class="delay-lead"><span class="count" style="color: #c21889;">0</span> dagen</p>
            <p>Gemiddelde looptijd besluit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="words">
  <div class="row">
    <div class="col-xs-12">
      <div id="tagcloud" data-maxfont="32" data-minfont="12" data-base-search-url="{{ url_for('search', gov_slug=gov_slug) }}">
      </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
  var cur_date = new Date();
  var cur_year = cur_date.getFullYear();
  OpenWOBApp.set_date_years(cur_year, cur_year);
});
</script>
{% endblock %}
