{% extends 'base.html' %}

{% block content %}

<div class="row mt-4">
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="jumbotron">
      <img id="icon-feather" src="/static/images/icon-feather.svg" class="icon">
      <p class="lead-text">
        {%trans%}find and <span>collect</span>{%endtrans%}<br>
        {%trans%}european <span>local</span>{%endtrans%}<br>
        {%trans%}policital <span>news</span>{%endtrans%}
      </p>

      <a class="btn btn-lg btn-primary mt-4" href="#discover" role="button">{%trans%}Discover{%endtrans%} <i class="fa fa-chevron-circle-right"></i></a>
      <img id="icon-city-1" src="/static/images/icon-pin.svg" class="icon">
      <img id="icon-city-2" src="/static/images/icon-pin.svg" class="icon">
      <img id="icon-city-3" src="/static/images/icon-pin.svg" class="icon">
    </div>
  </div>

  <div class="col-xs-12 col-md-4 col-lg-4 info-box">
    <h1>{%trans%}What can this do?{%endtrans%}</h1>
    <div class="info-box-contents">
      <h2>{%trans%}Find local news{%endtrans%}</h2>
      <ol class="info-box-bg-alt">
        <li class="clearfix"><div class="counter">1</div><div class="exp">{%trans%}Choose your <a href="/languages">language</a> for articles and topics{%endtrans%}</div></li>
        <li class="clearfix"><div class="counter">2</div><div class="exp">{%trans%}Find local news across Europe. Setup your <a href="/countries">source country</a>{%endtrans%}</div></li>
        <li class="clearfix"><div class="counter">3</div><div class="exp">{%trans%}Collect the content of your selected <a href="/search">articles and topics</a>{%endtrans%}</div></li>
      </ol>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3 col-lg-4 info-box">
    <h1>{%trans%}Contribute{%endtrans%}</h1>

    <div class="info-box-contents">
      <h2>{%trans%}Your opinion matters{%endtrans%}</h2>
      <ol class="info-box-bg">
        <li class="clearfix"><div class="counter"><img src="/static/images/icon-verification.svg" alt="{%trans%}Verify{%endtrans%}" class="img-responsive visible-xs-inline"></div><div class="exp">{%trans%}Verify articles and help keep articles up to date{%endtrans%}</div></li>
        <li class="clearfix"><div class="counter"><img src="/static/images/icon-bookmark.svg" alt="{%trans%}Collect{%endtrans%}" class="img-responsive visible-xs-inline"></div><div class="exp">{%trans%}Collect the content of your selected articles and topics{%endtrans%}</div></li>
      </ol>
    </div>

    <div class="info-box-contents">
      <h2>{%trans%}Collect local news{%endtrans%}</h2>
      <div class="jumbotron text-center">
        <img src="/static/images/filter-collect-icons.svg" />
        <a class="btn btn-lg btn-primary" href="/search" role="button" style="color: white;">{%trans%}Collect{%endtrans%} <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>


    <h1>{%trans%}Contact{%endtrans%}</h1>
    <div class="info-box-contents">
      <h2>{%trans%}Feedback{%endtrans%}</h2>
      <ol class="info-box-bg-alt-2">
        <li class="clearfix"><div class="counter"><img src="/static/images/icon-help.svg" alt="{%trans%}Help{%endtrans%}" class="img-responsive visible-xs-inline"></div><div class="exp">{%trans%}<a href="/feedback">Help</a> to keep the municipalities innovative and informed{%endtrans%}</div></li>
        <li class="clearfix"><div class="counter"><img src="/static/images/icon-mail.svg" alt="{%trans%}Mail{%endtrans%}" class="img-responsive visible-xs-inline"></div><div class="exp">{%trans%}Any <a href="/contact">questions</a>? We are curious about your opinion{%endtrans%}</div></li>
      </ol>
    </div>
  </div>

  <div id="discover" class="col-xs-12 col-md-9 col-lg-8">
    <div class="search-box">
      {% set filter_bar_homepage = True %}
      {% include "filter_bar.html" %}
      <div class="mt-4" id="form-search-fp">
      {% include "search.html" %}
      </div>

      <div class="row">

        {% for result in results['as:items'] %}
          {% set result_object = result %}
          <div class="col-xs-12 col-md-6">
            {%include "inner_result.html" %}
          </div>
        {% endfor %}

      </div>

      <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-lg btn-primary" href="{{ url_for('search') }}" role="button">{%trans%}Discover more scoops{%endtrans%}  <i class="fa fa-chevron-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
