{% extends 'base.html' %}

{% block content %}

<h1>{%trans%}Set your language{%endtrans%}</h1>

<h2>{%trans%}Website{%endtrans%}</h2>

<ul class="nav nav-pills">
  {% for k, v in interface_languages.iteritems() %}
    <li class="nav-item">
      <a class="nav-link {% if k == hl %}active{% endif %}" href="{{ url_for('set_language', hl=k, rl=rl)}}">{{ v }}</a>
    </li>
  {% endfor %}
</ul>

<h2>{%trans%}News articles{%endtrans%}</h2>

<ul class="nav nav-pills">
  {% for k, v in article_languages.iteritems() %}
    <li class="nav-item">
      <a class="nav-link {% if k == rl %}active{% endif %}" href="{{ url_for('set_language', rl=k, hl=hl)}}">{{ v }}</a>
    </li>
  {% endfor %}
</ul>

{%endblock%}
