{% extends 'base.html' %}

{% block title %}{%trans%}Languages{%endtrans%}{%endblock%}

{%block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">{%trans%}Home{%endtrans%}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{%trans%}Languages{%endtrans%}</li>
  </ol>
</nav>
{%endblock%}

{% block cookies_set_alert %}
{%endblock%}

{% block content %}

<h1>{%trans%}Set your language{%endtrans%}</h1>

<div class="info-box-contents mb-4 language-selection">
  <h3 class="">{%trans%}Website{%endtrans%}:</h3>

  <ul class="nav nav-pills">
    {% for k, v in interface_languages %}
      <li class="nav-item mr-4">
        <a class="nav-link {% if k == hl %}active{% endif %}" href="{{ url_for('set_language', hl=k, rl=rl, redirect=redirect)}}">
          {{ v }}
           {% if k == hl %}
           <span class="sr-only">({%trans%}Selected{%endtrans%})</span>
           {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
  <hr>
  <h3 class="">{%trans%}News articles{%endtrans%}:</h3>

  <ul class="nav nav-pills">
    {% for k, v in article_languages %}
      <li class="nav-item mr-4 mb-4">
        <a class="nav-link {% if k == rl %}active{% endif %}" href="{{ url_for('set_language', rl=k, hl=hl,redirect=redirect)}}">
          {{ v }}
          {% if k == rl %}
          <span class="sr-only">({%trans%}Selected{%endtrans%})</span>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

  <a class="btn btn-primary" href="{{ redirect }}">{%trans%}Go back{%endtrans%}</a>
</div>

{%endblock%}
