    <form action="{{ url_for('search') }}" method="get" class="form-inline w-100 mt-4" id="form-search" name="form-search">
        <div class="input-group w-100">
              <input class="form-control py-2" type="search" value="" name="query" placeholder="{%trans%}Find articles, parties, locations...{%endtrans%}">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
