{% extends 'base.html' %}


{% block content %}

{% include 'search.html' %}
<section id="data" style="margin-top:16px;">
  <div class="row search-result">
    <div class="col-xs-1">
      <img src="/static/images/parties/{{ result.parties.0 |lower }}.png" class="img-responsive">
    </div>
    <div class="col-xs-10">
      {% if result.title %}
      <h2>{{ result.title }}</h2>
      {% endif %}
      <p class="entities">
        {% for party in result.parties %}
          <a href="{{ url_for('search', parties=party) }}">{{ party }}</a>
        {% endfor %}
        <a href="{{ url_for('search', location=result.location) }}">{{ result.location }}</a>
        {% if result.date %}
        {{ result.date|iso8601_to_str("%d-%m-%Y %H:%M:%S") }}
        {% endif %}
      </p>
  <div>
      <p>{{ result.description |html_cleanup(result) |safe }}</p>
  </div>
      <p class="pull-right links">
        <a href="{{ result.meta.original_object_urls.html }}" target="_blank" class="">{{ result.source }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      </p>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
</section>
{% endblock %}
