{% extends 'base.html' %}

{% block content %}
<body>
<article>

<script type="text/javascript">
var chart_data = {{ results.facets.date.entries |tojson|safe }};
</script>

<section id="data">
  <h2> Aantal vragen per jaar</h2>
  <div id='chart'>
    <svg style='height:500px'> </svg>
  </div>

  <h2>Woorden in vragen</h2>
  <div id="questions">
    <ul class="wordcloud">
    {% for word in results.facets.description.terms %}
      <li style="font-size: {{ word.count |wordcloud_font_size(results.facets.description.terms[0].count) }};">{{ word.term }}</li>
    {% endfor %}
    </ul>
  </div>

  <h2>Woorden in Antwoorden</h2>
  <div id="answers">
    <ul class="wordcloud">
    {% for word in results.facets.answer_description.terms %}
      <li style="font-size: {{ word.count |wordcloud_font_size(results.facets.answer_description.terms[0].count) }};">{{ word.term }}</li>
    {% endfor %}
    </ul>
  </div>

</section>

<script type="text/javascript">
$(document).ready(function () {
  function exampleData() {
    return [{
      'key': 'Kamervragen',
      values: chart_data.map(function (d) {
        return {
          label: d.time,
          value: d.count
        }
      })
    }];
  }
  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .staggerLabels(true)
        .x(function(d) { return new Date(d.label).toDateString(); })    //Specify the data accessors.
        .y(function(d) { return d.value; })
        .tooltips(true)        //Don't show tooltips
        ;

    chart.xAxis.tickFormat(function (d) {
      return d;
    });
    chart.yAxis.tickFormat(d3.format(',d'));

    d3.select('#chart svg')
        .datum(exampleData())
        .transition().duration(350).call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });
});
</script>

</article>
</body>
{% endblock %}
