{% extends 'base.html' %}

{% block title %}{%trans%}Unsubscribe{%endtrans%}{%endblock%}

{% block content %}

{% include 'search.html' %}
<article role="article">
<div class="row">
  <div class="col-xs-12 article-text">
    {% if result %}
      {% if result.status_code == 200 %}
        <p>{%trans%}You were succesfully unsubscribed.{%endtrans%}</p>
      {% else %}
        <p>{%trans%}Something went wrong. Please try again{%endtrans%}</p>
      {% endif %}
    {% else %}
      <p>{%trans%}Something went wrong. Please try again{%endtrans%}</p>
    {% endif %}
  </div>
</div>
</article>
{% endblock %}
