version: "2.1"
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    volumes:
      - ./nginx-start/:/opt/nginx/
      - ./nginx/:/etc/nginx/
      - ../docs/_build/html/:/usr/share/nginx/html/docs/
    links:
      - frontend:frontend
      - app:app
    restart: always
    networks:
      - nginx-load-balancer
      - pfl
  backend:
    build:
      context: ..
      dockerfile: Dockerfile-backend
    volumes:
      - ../:/opt/pfl
    links:
      - redis:redis
      - elasticsearch:elasticsearch
      - frontend:frontend
    restart: always
    networks:
      - pfl
    command: /opt/pfl/bin/backend.sh
  frontend:
    build:
      context: ../ocd_frontend
      dockerfile: Dockerfile-frontend
    links:
      - elasticsearch:elasticsearch
    volumes:
      - ../ocd_frontend:/opt/pfl/ocd_frontend
    restart: always
    networks:
      - pfl
  redis:
    image: "redis:${REDIS_VERSION}"
    sysctls:
      - net.core.somaxconn=65535
    restart: always
    networks:
      - pfl
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:${ES_VERSION}"
    environment:
      - http.host=0.0.0.0
      - transport.host=127.0.0.1
      - cluster.name=docker-cluster
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - IPC_LOCK
    volumes:
      - esdata:/usr/share/elasticsearch/data
    restart: always
    networks:
      - pfl
  app:
    build:
      context: ../app
      dockerfile: Dockerfile-app
    volumes:
      - ../app:/opt/app
    restart: always
    networks:
      - pfl
volumes:
  esdata:
    driver: local
networks:
  pfl:
  nginx-load-balancer:
    external:
      name: docker_nginx-load-balancer
